@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  logs: false;
  themes: argon --default, argon-dark --prefersdark, winter, nord, silk, lofi, dracula;
  include: badge, button, card, input, join, menu, navbar, range;
}
@plugin "daisyui/theme" {
  name: "argon";
  color-scheme: light;

  --color-base-100: #dae6f4;
  --color-base-200: #f7faff;
  --color-base-300: #edf3fb;
  --color-base-content: #33435e;

  --color-primary: #5b72e8;
  --color-primary-content: #f5f7ff;
  --color-secondary: #60708d;
  --color-secondary-content: #eef3ff;
  --color-accent: #7e95f5;
  --color-accent-content: #f5f8ff;
  --color-neutral: #445a80;
  --color-neutral-content: #eef4ff;

  --color-info: #66a7f1;
  --color-info-content: #f4f9ff;
  --color-success: #5fbf9f;
  --color-success-content: #f2fff9;
  --color-warning: #d9a95f;
  --color-warning-content: #fff9f0;
  --color-error: #d86f76;
  --color-error-content: #fff4f5;

  --radius-selector: 0.625rem;
  --radius-field: 0.625rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "argon-dark";
  color-scheme: dark;

  --color-base-100: #1f2838;
  --color-base-200: #1d2739;
  --color-base-300: #25334a;
  --color-base-content: #e2e8ff;

  --color-primary: #8ea1ff;
  --color-primary-content: #1e2950;
  --color-secondary: #9bb0cf;
  --color-secondary-content: #1f2b42;
  --color-accent: #8dc4e8;
  --color-accent-content: #1b2b3d;
  --color-neutral: #141c2a;
  --color-neutral-content: #e7ecff;

  --color-info: #8dc4e8;
  --color-info-content: #132538;
  --color-success: #7bc8ac;
  --color-success-content: #14261f;
  --color-warning: #e2bc7a;
  --color-warning-content: #2b2110;
  --color-error: #e28a96;
  --color-error-content: #2d1118;

  --radius-selector: 0.625rem;
  --radius-field: 0.625rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@import "./main.css";
@import "./markdown.css";
@import "./expressive-code.css";
@import "./scrollbar.css";
@import "./photoswipe.css";
@import "./transition.css";
