@reference "tailwindcss";

.pswp__button {
    @apply transition flex items-center justify-center mr-0 w-12 h-12;
    background-color: var(--overlay-control-bg);
}
.pswp__button:hover {
    background-color: var(--overlay-control-hover);
}
.pswp__button:active {
    background-color: var(--overlay-control-active);
}
.pswp__button--zoom, .pswp__button--close {
    @apply mt-4 rounded-xl active:scale-90;
}
.pswp__button--zoom {
    @apply mr-2.5;
}
.pswp__button--close {
    @apply mr-4;
}
