---
import { Icon } from "astro-icon/components";
import { type NavBarLink } from "../../types/config";
import { url } from "../../utils/url-utils";

interface Props {
	links: NavBarLink[];
}

const links = Astro.props.links;
---
<div
	id="nav-menu-panel"
	class:list={["float-panel float-panel-closed card card-compact nav-menu-panel-shell"]}
>
    <ul class="menu p-0 gap-1">
        {links.map((link) => (
            <li>
                <a
                    href={link.external ? link.url : url(link.url)}
                    class="nav-menu-item group"
                    target={link.external ? "_blank" : null}
                >
                    <div>{link.name}</div>
                    {!link.external && <Icon
                        name="material-symbols:chevron-right-rounded"
                        class="transition text-[1.25rem] text-(--primary)"
                    />}
                    {link.external && <Icon
                        name="fa6-solid:arrow-up-right-from-square"
                        class="transition text-[0.75rem] text-30 -translate-x-1"
                    />}
                </a>
            </li>
        ))}
    </ul>
</div>

