---
import type { MarkdownHeading } from "astro";
import { siteConfig } from "../../config";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import TOC from "./TOC.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
const headings = Astro.props.headings ?? [];
const hasHeadings = siteConfig.toc.enable && headings.length > 0;
---
<div id="sidebar" class:list={[className, "w-full"]}>
	<div class="flex flex-col w-full gap-4 mb-4">
		<Profile></Profile>
	</div>
	<div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 sticky top-4">
		{hasHeadings ? (
			<div class="card card-compact widget-shell onload-animation" style="animation-delay: 150ms">
				<div class="widget-title text-90">
					文章目录
				</div>
				<div id="toc-inner-wrapper" class="px-3 pb-3 max-h-[26rem] overflow-y-auto hide-scrollbar">
					<div id="toc" class="w-full">
						<TOC headings={headings} embedded={true}></TOC>
					</div>
				</div>
			</div>
		) : (
			<>
				<Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
				<Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
			</>
		)}
	</div>
</div>
