---

import { siteConfig } from "../config";

const configuredThemes = siteConfig.themeColor.themes
	.map((theme) => theme.trim())
	.filter(Boolean);

const serializedThemes = Array.from(new Set(configuredThemes)).join(",");
---

<div
	id="config-carrier"
	data-theme={siteConfig.themeColor.defaultTheme}
	data-themes={serializedThemes}
>
</div>
