---
import { Icon } from "astro-icon/components";
---

<!-- There can't be a filter on parent element, or it will break `fixed` -->
<div class="back-to-top-wrapper">
    <div id="back-to-top-btn" class="back-to-top-btn hide flex items-center rounded-2xl" onclick="backToTop()">
        <button
            aria-label="Back to Top"
            class="btn btn-ghost btn-square h-[3.75rem] min-h-[3.75rem] w-[3.75rem]
            border-none shadow-none rounded-2xl bg-(--card-bg) text-(--primary)
            hover:bg-(--surface-emphasis-hover) active:bg-(--surface-emphasis-active)"
        >
            <Icon name="material-symbols:keyboard-arrow-up-rounded" class="mx-auto"></Icon>
        </button>
    </div>
</div>

<script is:raw is:inline>
function backToTop() {
    window.scroll({ top: 0, behavior: 'smooth' });
}
</script>

