---
interface Props {
	dot?: boolean;
	href?: string;
	label?: string;
}
const { dot, href, label }: Props = Astro.props;
---
<a href={href} aria-label={label}
   class="btn normal-case h-8 min-h-8 text-[0.84rem] font-medium px-3 rounded-lg border-none shadow-none
      bg-(--surface-soft)/80 hover:bg-(--surface-soft-hover) active:bg-(--surface-soft-active)
      text-75 hover:text-90"
>
    {dot && <div class="h-1 w-1 bg-(--border-divider-muted) transition rounded-md mr-2"></div>}
    <slot></slot>
</a>
